<!--/* 
* the author will need the ability to add a background image, a link which can be to a page/site/or video, title text, tagline, and dek
*/-->
<!--/* 
* This file uses modelCTAHero.scss
*/-->
<div class="expanded row ">
    <div class=" large-12 small-12 medium-12 columns">
        <div class="heroContainer ">
            <div class="backgroundHero short" style="background-image: url('/assets/img/Z520_SunBack_1.png'); background-repeat: no-repeat; background-size: cover; background-position: center;">
            </div>
            <div class="row">
                <div class="large-6 medium-6 small-6 columns ">
                    <div class="overImage bump" style="">
                        <h1>build a boat: model name</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>