<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="buildTabControls">
      <ul class="tabs" data-tabs id="build-tabs">
        <li class="tabs-title is-active"><a href="#packages" aria-selected="true"><h6>packages</h6></a>
          <div class="bottomBorder">
            <div class="activeBorder">

            </div>
          </div>
        </li>
        <li class="tabs-title"><a href="#motor"><h6>motor</h6></a>
          <div class="bottomBorder">

          </div>
        </li>
        <li class="tabs-title"><a href="#options"><h6>options</h6></a>
          <div class="bottomBorder">

          </div>
        </li>
        <li class="tabs-title"><a href="#color"><h6>color</h6></a>
          <div class="bottomBorder">

          </div>
        </li>

      </ul>
    </div>
  </div>
</div>


<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="tabContentContainer">
      <div class="tabs-content" data-tabs-content="build-tabs">




        <div class="tabs-panel is-active" id="packages">
          <div class="row">
            <div class="large-12 medium-12 small-12 columns">
              <h4>choose one of our packages to get started OR skip this step to further customize your boat.</h4>
              <div class="packageList">

                <!-- this is the start of a package -->
                <div class="row large-collapse medium-collapse">
                  <div class="large-1 medium-1 columns">
                    <input type="checkbox" name="" value="">
                  </div>
                  <div class="large-2 medium-2 columns">
                    family fun package
                  </div>
                  <div class="large-7 medium-7 columns">
                    <div class="dottedBorder">

                    </div>
                  </div>
                  <div class="large-2 medium-2 columns">
                    $3500.00
                  </div>
                </div>
                <!-- end of a package -->

              </div>
            </div>
          </div>
        </div>

        <div class="tabs-panel is-active" id="motor">
          <div class="row">
            <div class="large-12 medium-12 columns">
              <h2>select a motor package</h2>

              <!-- one motor type -->
              <table cellpadding="0" cellspacing="0" class="logoHeader">
                <tr>
                  <td>motor logo image</td>
                  <td>Boat, Motor & trailer package price</td>
                </tr>
              </table>
              <table cellpadding="0" cellspacing="0" class="motorSelection">
                <tr>
                  <td><input type="radio" name="mercury" value=""></td>
                  <td>motor1</td>
                  <td>$60,000</td>
                </tr>
                <tr>
                  <td><input type="radio" name="mercury" value=""></td>
                  <td>motor2</td>
                  <td>$60,000</td>
                </tr>
                <tr>
                  <td><input type="radio" name="mercury" value=""></td>
                  <td>motor3</td>
                  <td>$60,000</td>
                </tr>
                <tr>
                  <td><input type="radio" name="mercury" value=""></td>
                  <td>motor4</td>
                  <td>$60,000</td>
                </tr>
                <tr>
                  <td><input type="radio" name="mercury" value=""></td>
                  <td>motor5for</td>
                  <td>$60,000</td>
                </tr>
              </table>
              <!-- end motor selection -->
            </div>
          </div>
        </div>



        <div class="tabs-panel is-active" id="options">
          <div class="row">
            <div class="large-12 medium-12 columns">
              <ul class="vertical menu accordian" data-accordion-menu>
                <li>
                  <a href="#">bow electronics</a>
                  <ul class="nested">
                    <li>
                      <table cellpadding="0" cellspacing="0" class="motorSelection">
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor1</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor2</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor3</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor4</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor5for</td>
                          <td>$60,000</td>
                        </tr>
                      </table>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">battery chargers</a>
                  <ul class="nested">
                    <li>
                      <table cellpadding="0" cellspacing="0" class="motorSelection">
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor1</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor2</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor3</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor4</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor5for</td>
                          <td>$60,000</td>
                        </tr>
                      </table>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">battery options</a>
                  <ul class="nested">
                    <li>
                      <table cellpadding="0" cellspacing="0" class="motorSelection">
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor1</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor2</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor3</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor4</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor5for</td>
                          <td>$60,000</td>
                        </tr>
                      </table>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">console elect</a>
                  <ul class="nested">
                    <li>
                      <table cellpadding="0" cellspacing="0" class="motorSelection">
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor1</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor2</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor3</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor4</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor5for</td>
                          <td>$60,000</td>
                        </tr>
                      </table>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">convers and tops</a>
                  <ul class="nested">
                    <li>
                      <table cellpadding="0" cellspacing="0" class="motorSelection">
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor1</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor2</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor3</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor4</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor5for</td>
                          <td>$60,000</td>
                        </tr>
                      </table>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">trolling</a>
                  <ul class="nested">
                    <li>
                      <table cellpadding="0" cellspacing="0" class="motorSelection">
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor1</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor2</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor3</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor4</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor5for</td>
                          <td>$60,000</td>
                        </tr>
                      </table>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">console</a>
                  <ul class="nested">
                    <li>
                      <table cellpadding="0" cellspacing="0" class="motorSelection">
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor1</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor2</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor3</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor4</td>
                          <td>$60,000</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" name="mercury" value=""></td>
                          <td>motor5for</td>
                          <td>$60,000</td>
                        </tr>
                      </table>
                    </li>
                  </ul>
                </li>

              </ul>
            </div>
          </div>
        </div>


        <div class="tabs-panel is-active" id="color">
          <div class="row">
            <div class="large-12 medium-12 columns">

              <div class="selectColor">
                <div class="colorImage">

                </div>
                <div class="packageSelect">
                  <input type="radio" name="" value="">A
                </div>
              </div>

              <div class="selectColor">
                <div class="colorImage">

                </div>
                <div class="packageSelect">
                  <input type="radio" name="" value="">B
                </div>
              </div>

              <div class="selectColor">
                <div class="colorImage">

                </div>
                <div class="packageSelect">
                  <input type="radio" name="" value="">C
                </div>
              </div>

            </div>
          </div>
        </div>




      </div>
    </div>

    <div class="buttonContainer">
      <div class="button buildBack">
        back
      </div>
      <div class="button buildNext">
        next
      </div>

    </div>

  </div>
</div>