<div class="row">
    <div class="large-8 medium-8 small-8 columns">
        {{> buildTabs}}
    </div>
    <div class="large-4 medium-4 small-4 columns">
        <div class="buildPriceBox">
            <h3>boat name</h3>
            <hr>
            <div class="modelImage">
                <img src="/assets/img/VS1682WT_GalleryDetail2.png" alt="">
            </div>
            <div class="details">
              <table cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td>a boat w/motor</td>
                    <td>$60,000</td> <!--* this price will update with selections made by user *-->
                  </tr>
                  <tr>
                    <td>trailer</td>
                    <td>included</td>
                  </tr>
                </tbody>
              </table>
              <div class="inlineContainer">
                <div class="ptby">
                  Priced to be yours
                </div>
                <div class="finalPrice">
                  <!-- This will update with final price -->
                  $60,000.00 USD*
                </div>
              </div>
              <button class="ctaButton">
                send to dealer
              </button>
              <div class="disclaimerText">
                <h4>questions? <span class="phone">1-800-373-2628</span></h4>
                <div class="disclaimerSmall">
                  *Build and price feature does not include Promotional pricing. See Model Page for current offers. Actual dealer price may very
                  . See your authorized Ranger dealer for more details including tax, title, prep, and destination charges. All prices shown in U.S. Dollars.
                  Photographs and videos may show optional equipment.
                </div>

              </div>
            </div>
        </div>
    </div>
</div>
