.threeLayerTextBlock {
    //max-width: 600px;
    //margin: auto;
    padding: 70px 0 70px 0;
    text-align: center;

    hr {
        margin: auto;
        float: none;
    }

    h1 {
        font-size: 31px;
        font-weight: 600;
        //line-height: 42px;
        font-style: normal;
        font-family: $mainSiteFont;
        padding: 10px;
    }
}

.bmtBackground {
    // overflow: hidden;
    //position: relative;
    //height: 600px;
    //max-height: 600px;
    @include breakpoint(medium only) {
      //height:430px;
    }
    @include breakpoint(small only) {
      //height:230px;
    }



    .layerThree {
        //color: white;
        //position: absolute;
        //z-index: 2000;
        //bottom: 0;
    }
}
