$footerTextColor:#9f9f9f;
$footerTextColorSub:#707070;

.footer{
    padding-top: 70px;
    padding-bottom: 70px;
  .footerLogo{
    margin:auto;
    //border:1px solid red;
    text-align:center;
  }
  h1{


  }
  h4{
    color:$footerTextColorSub;
    font-size:14px;
    text-transform: capitalize;
    font-family: $secondSiteFont;
    padding:0px;
    margin:0px;
  }
  .footPhoneNum{
    color:$firstAccentColor;
    margin-bottom:15px;

  }
  ul{
    list-style: none;
    font-family: $secondSiteFont;
    color:$footerTextColorSub;
    padding:0px;
    margin:0px;
    text-align:left;
    padding-top:15px;

    li{
      padding-bottom:15px;
      &:first-child{
        font-family: $mainSiteFont;
        color:$footerTextColor;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 16px;
        padding-bottom:15px;

      }

      text-transform: capitalize;
      padding:0px;
      margin:0px;
      font-size:14px;
    }
  }
}
