input {
  padding-left: 15px;
  border: 0;
  border-bottom: 1px solid $secondFontColor;
  background-color: transparent;
  color: $secondFontColor;
  width: 100%;
  font-family: $mainSiteFont;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;

  &:focus {
    border: 0;
    border-bottom: 1px solid $secondFontColor;
    background-color: transparent;
    outline: none;
    box-shadow: none;
  }
}

select {
  background: transparent;
  border: none;
  font-size: 10px;
  height: 29px;
  padding: 0px;
  /* If you add too much padding here, the options won't show in IE */
  width: 100%;
  border-bottom: 1px solid rgba($secondFontColor,.3);
  font-size: 16px;
  height: 34px;
  
  color: white;
  font-family: $mainSiteFont;
  text-transform: uppercase;
  outline: none;

  &:focus {
    box-shadow: none;
    outline: none;
    border: 0;
    border-bottom: 1px solid $secondFontColor;
    background-color: transparent;
  }
}

.labelBounce {
  display: block;
  height: 60px;
  overflow: auto;
  position: relative;
  display: inline-block;
  width: 100%;

  label {
    color: $secondFontColor;
  }

  input {
    position: absolute;
    bottom: 0;
  }

  > span {
    color: $secondFontColor;
    // transition: top 1s ease;
    position: absolute;
    font-family: $mainSiteFont;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    // border:1px solid red;
    top: 36px;
  }

  input:focus ~ span {
    // top: 0;
  }
}

input[type="text"] {
  margin:0px;
  padding:0px;
  border:0px;
  border-bottom:1px solid rgba($secondFontColor,.3);
  background-color:transparent;
  color:#fff;
  &:focus{
    margin:0px;
    padding:0px;
    border:0px;
    border-bottom:1px solid #cacaca;
    background-color:transparent;
    color:#fff;
    outline:none;
    box-shadow:none;
  }
}


.checkboxes {
	position: relative;
}

input[type="checkbox"] {
	display: block;
	position: relative;
	-webkit-appearance: none;
	border: none;
	outline: none;
	
	margin: 0px auto;
	margin-bottom: 20px;
	
	width: 20px;
	height: 20px;
	
	border-radius: 5px;
	
	background-color: #303030;
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
	
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1), inset 0px 1px 3px rgba(0,0,0,0.25), 0px 1px 1px rgba(255,255,255,0.05);
	
	line-height: 20px;
}

input[type="checkbox"]::after {
	position: absolute;
	
	left: -5px;
	right: -5px;
	top: -5px;
	bottom: -5px;
	
	-webkit-filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.5));
	
	font-family: serif;
	font-size: 30px;
	
	-webkit-transition-property: -webkit-transform, opacity;
	-webkit-transition-timing-function: ease-in, linear;
	-webkit-transition-duration: 0.1s;

	-webkit-transform: scale3d(0,0,0);
	
	opacity: 0;
}





input[type="checkbox"].red::after {
	color: #FF0033;
	content: url("/assets/img/check_red.svg");
}



input[type="checkbox"]:checked::after {
	-webkit-transition-timing-function: cubic-bezier(0, 0, .5, 2), linear;
	-webkit-transition-duration: 0.2s, 0.1s;
	-webkit-transform: scale3d(1,1,1);
	
	opacity: 1;
}



input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#f2f2f2;
    
    
}

input[type="radio"] + label::before {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url("../img/check_radio_sheet.png") -38px top no-repeat;
    cursor:pointer;
    content:"";
}

input[type="radio"]:checked + label::before {
    background:url("../img/check_radio_sheet.png") -57px top no-repeat;
}

.fakeLabel{
  //used for select label
  text-transform: uppercase;
  font-family: $mainSiteFont;
}