@import 'rangerThemeVars';

.item {
  cursor: pointer;
}
.currency-icon {
    padding-right: 5px;
    padding-bottom: 2px;
    height: 15px;
}

.navOutterContainer {
  position: relative;
  padding: 0;

  .navInnerContainer {
    position: absolute;
    z-index: 500;
    width: 100%;
    top: 0;
    font-family: $mainSiteFont;
    background-color: $secondColor;
    margin: auto;
    padding: 0;
    margin: 0;

    .row {
      margin: auto;
    }
  }

  .nav {
    background: $mainColor;
    padding: 0;

    .selectorDrop {
      position: absolute;
      left: 0;
      top: 108px;
      z-index: 501;
      background: $secondColor;
      width: 100%;
      margin: 0;
      padding: 20px 15px;

      .columns {
        padding: 0;
      }
      @include breakpoint(medium down) {
        z-index: 600;
      }
    }

    .logo {
      //height: 108px;
      background: $secondColor;
      padding: 0;

      img {
        max-width: 180px;
        padding: 10px;
        text-align: center;
        @include breakpoint(medium only) {
          padding-top: 26px;
          width: 120px;
        }
      }
    }

    .top {
      background: $thirdColor;
      height: 41px;
      //width:100%;
      .button {
        background: $firstAccentColor;
        text-transform: uppercase;
        margin-right: -15px;
        height: 41px;
        @include button-dropdown(4px, white, "down");
      }

      .button div::after {
        @include button-dropdown(4px, white, "down");
      }

      .menu {
        height: 41px;

        .item {
          color: $secondFontColor;
          text-transform: uppercase;
          height: 41px;
          font-family: $secondaryHeader;
          font-size: 12px;
          text-align: center;
          line-height: 15px;
          cursor: pointer;

          div {
            border-right: 1px solid $secondFontColor;
            padding-right: 15px;
            padding-left: 10px;
          }

          &:last-child {
            padding: 0;

            div {
              border: 0;
            }
          }
        }
      }
    }

    .middle {
      background: $secondAccentColor;
      height: 67px;

      .menu {
        .item {
          text-transform: uppercase;
          // font-style: italic;
          height: 67px;
          padding: 0 55px;
          border-right: 1px solid #2F2F2F;
          font-size: 13px;
          font-weight: 600;
          line-height: 17px;
          color: white;
          @include breakpoint(medium down) {
            padding: 0 20px;
          }
        }

        .dropNav div::after {
          @include css-triangle(4px, $firstAccentColor, "down");
          display: inline-block;
          margin-left: 5px;
          margin-bottom: 2px;
        }
      }
    }

    .bottom {
      background: $thirdColor;
      height: 10px;
    }
  }
}

.dropdown.menu > li.is-dropdown-submenu-parent > a {
  background: $firstAccentColor;
  color: $white;
  text-transform: uppercase;
  font-size: 12px;
  padding: 15px;
}

.dropdown {
  li a {
    line-height: 10px;
    font-size: 13px;
    border: none;
    color: $white;
    background: $black;
  }
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  right: 15px;
  border-color: #ffffff transparent transparent;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a {
  padding-right: 38px;
}

.is-dropdown-submenu {
  background: $black;
  border: none;
  font-family: $secondSiteFont;
}
// this is segment 'glass' sub menu css

.floatingModelPriceBlock {
  //float: right;
  width: 289px;
 // height: 218px;
  background: $mainColor;
  position: absolute;
  top: 182px;
  z-index: 1;
  right: 0;
  color: $firstFontColor;
  padding: 18px;
  @include breakpoint(medium down) {
    text-align: center;
    top: 75px;
    width: 100%;
  }
  h4 {
      margin-bottom: 0;
  }

  h6 {
    color: $secondFontColor;
    font-family: $secondaryHeader;
    text-transform: capitalize;
    margin-bottom: 16px;
  }

  .basicText {
    font-family: $secondaryHeader;
    color: $secondFontColor;
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
  }

  .price {
    font-family: $mainSiteFont;
    font-size: 30px;
    font-weight: 600;
    line-height: 15px;
    padding: 0;
    margin: 0;
    &::before{
      content: "\A";
      white-space: pre;
    }
    span {
      font-family: $secondaryHeader;
      color: $firstFontColor;
      font-size: 16px;
      font-weight: 200;
      line-height: 46px;
      text-transform: uppercase;
      padding-left: 4px;
    }
  }

  .ctaButton {
    margin: auto;
    width: 100%;
    text-align: center;
    background-image: none;
    font-size: 14px;
    text-transform: uppercase;
    font-family: $mainSiteFont;
    color: $firstFontColor;
    margin-top: 10px;
  }
}

.smallNav {
  position: relative;
  height: 60px;
z-index:501;
  .title-bar {
    text-align: left;
    padding: 0;

    .title-bar-title {
      margin-top: -5px;
      padding: 10px;

      img {
        margin: auto;
        height: 45px;
        margin: 0;
      }
    }
  }

  .mobileSelector {
    width: 100%;
    height: 100vh;
    padding: 0;
    color: $firstFontColor;
    position: absolute;
    top: 60px;
    z-index: 501;
    background: $mainColor;
    .nested {
        :hover {
            background: #191919;
        }
    }
    .nested li a {
        padding-left: 15px;
        font-weight: 400;
        color: #9F9F9F;
        font-family: $secondaryHeader;
        line-height: 40px;
        &:hover {
            color: #ffffff;
            }
        }
    }
 }
 .mobile-secondary {
     background-color: #191919;
     padding-top: 20px;
     margin-right: 20px;
     //border-top: 1px solid $dark-gray;
     ul {
         font-family: $secondaryHeader;
         color: #9f9f9f;
         text-transform: uppercase;
         list-style: none;
         line-height: 50px;
     }
 }

.menu-icon {
  //padding: 16px;
  width: 26px;
  height: 6px;
}

.title-bar-right {
  border-left: 2px solid $secondAccentColor;
  height: 60px;
  padding: 10px 20px;
}

//mobile glass menu

.mobileGlass{
  width:100%;
  display:none;
  position:absolute;
  top:75px;
  z-index:2;
  background: rgba(0,0,0,1);
  ul{
    list-style: none;
    padding:0px;
    margin:0px;
    li{
      padding:25px;
      border-bottom:1px solid $secondAccentColor;
      text-align:center;
      font-family:$secondaryHeader;
      text-transform: uppercase;
      font-size:16px;
      a{
        color:$firstFontColor;
        &:hover &:active &:focus {
        color:$firstFontColor;
        }
      }
    }
  }
}
