.heroRelative{
position:relative;

.heroCarousel {
    .slide {
        width: 100%;
        position: relative;
        @include breakpoint(small) {
            height: 600px;
        }
        @include breakpoint(medium) {
            height: 800px;
        }
        @include breakpoint(large) {
            height: 955px;
        }

        .textBlock {
            // border:1px solid red;
            position: absolute;
            top: 200px;
            left: 9vw;
            //top: 200px;
            //left: 100px;

            .wordAndArrow {
                h1 {
                    padding: 25px 0 0 25px;
                    font-size: 51px;
                    font-weight: 600;
                    line-height: 42px;
                    // width: 100%;
                    font-style: normal;
                    font-family: $mainSiteFont;
                    display: inline-block;
                    // border:1px solid red;
                    text-shadow: 1px 1px 1px gray;

                    &:hover {}
                }

                .arrow {
                    width: 35px;
                    display: inline-block;
                    margin-left: 15px;
                    text-shadow: 1px 1px 0.2px black;
                    margin-bottom: 25px;
                }
            }

            h4 {
                font-family: $mainSiteFont;
                color: $firstFontColor;
                font-size: 26px;
                line-height: 21px;
                font-style: italic;
                //text-shadow: 1px 1px 0.2px gray;
                margin-left: 25px;
                margin-top: -10px;
                text-transform: uppercase;
                display: inline-block;
            }
        }
    }
}

.whiteBox {
  max-width: 1600px;
    position: absolute;
    border: 1px solid rgba(255,255,255, .25);
    top: 18px;
    bottom: 18px;
    left: 18px;
    right: 18px;
    z-index: 10;
    pointer-events: none;
    .heroControles {
        //  border: 1px solid white;
        width: 53px;
        height: 110px;
        position: absolute;
        top: 300px;
        right: -1px;
        z-index: 500;
pointer-events: auto;
        .heroNext {
            color: white;
            cursor: pointer;
            width: 53px;
            height: 53px;
            background: url('/assets/img/white-arrow-button.svg');
            transform: rotate(180deg);
            border:1px solid rgba(255,255,255, .25);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50%;
            float:right;
        }

        .heroPrev {
          border:1px solid rgba(255,255,255, .25);
            color: white;
            cursor: pointer;
            width: 53px;
            height: 53px;
            background: url('/assets/img/white-arrow-button.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50%;
            float:right;
        }
    }
}
}
