.video {
    text-align: center;
    position:relative;

    .video-button{
        position: absolute;
        background-image: url('/assets/img/video-play-large.svg');
        background-repeat: no-repeat;
        background-size: cover;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        width: 180px;
        height: 180px;
        @include breakpoint(small) {
            width: 100px;
            height: 100px;
        }
        @include breakpoint(large) {
            width: 180px;
            height: 180px;
        }
    }
}

.textContainer {
  text-align:center;

    h1 {
        text-align: center;
        font-size: 14px;
        font-family: $mainSiteFont;
        color: $firstAccentColor;
        display: inline-block;

        height:20px;

    }

    .arrow {
        background: url('/assets/img/white-arrow-button.svg');
        width: 20px;
        height: 20px;
        vertical-align: middle;
        // border: 1px solid white;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50%;
        display: inline-block;

    }
}
