// heroContainer main style is located in modelCTAHero.scss
//This is where it is getting it's dark background and is set
//to relative so you can absolute position over the image.
$borderColor: #292929;
$bubbleColor: #232323;
.backgroundHero{
  position:relative;
}
.proQuote {
    width: 100%;
    text-align: center;
    @include breakpoint(small) {
        padding-top: 200px;
    }
    @include breakpoint(large) {
        padding-top: 320px;
    }
    h6 {
        font-family: $secondaryHeader;
        color: $secondFontColor;
        text-transform: capitalize;

    }
}

.proPhoto {
    // background:red;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin: 15px auto;
    img {
        border-radius: 100%;
    }
}

.theReviews {
    h1 {
        font-size: 25px;
        line-height: 34px;
        font-family: $mainSiteFont;
    }

    .reviewContainer {
        width: 100%;
        padding-top: 25px;
        margin-top: 25px;
        border-top: 1px solid $borderColor;


        .review {
            //  border:1px solid red;
            .reviewText {
                display: inline-block;
                // border:1px solid green;
                width: 90%;

                .triangle-border {
                    background: $bubbleColor;
                    border-color: $bubbleColor;
                    color: $secondFontColor;
                    display: inline-block;
                    border-radius: 0;

                    h1 {
                        font-family: $secondSiteFont;
                        font-size: 15px;
                        font-weight: 900;
                        line-height: 25px;
                        margin-top: 25px;
                        margin-bottom: 0;
                        padding: 0;
                    }

                    h4 {
                        font-family: $secondSiteFont;
                        font-size: 12px;
                        font-weight: 900;
                        line-height: 25px;
                    }
                }

                .arrowLeft {
                    background: $bubbleColor;
                    border-color: $bubbleColor;

                    &::after {
                        background: transparent $bubbleColor;
                        border-color: transparent $bubbleColor;
                    }

                    &::before {
                        background: transparent $bubbleColor;
                        border-color: transparent $bubbleColor;
                                            left: -20px;
                    }
                }
            }

            .proPhoto {
                display: inline-block;
                vertical-align: top;
                margin: 10px 0;

                img {
                    border-radius: 100%;
                }
            }
        }
        .seriesVideos{
          display:inline-block;
          .video, .galleryImage{
            background:black;
            padding-bottom: 55%;
          }
          h4{
            height:21px;
            color:$videoTitleColor;
            font-family:$secondaryHeader;
            font-size:16px;
            line-height: 21px;
            //margin-left: 25px;
            padding:0px 0 45px 0;

          }
        }
    }
}
