.slideBackground {
    max-height: 800px;
    position: relative;

    .modelCarousel {
        width: 100%;
        //height: 800px;
        overflow: hidden;
        padding-top: 340px;

        img {}
    }
}

.modelController {
    // border: 1px solid white;
    height: 100px;
    width: 100%;
    position: absolute;
    @include breakpoint(small) {
        bottom:40px;
    }
    @include breakpoint(medium) {
        bottom:100px;
    }
    @include breakpoint(large) {
        bottom:200px;
    }

    .modelPrev {
        color: white;
        cursor: pointer;
        background: url('/assets/img/white-arrow-button.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50%;
        float: right;
        @include breakpoint(small) {
            width: 35px;
            height:35px;
        }
        @include breakpoint(large) {
            width: 53px;
            height: 53px;
        }
    }

    .modelNext {
        color: white;
        cursor: pointer;
        background: url('/assets/img/white-arrow-button.svg');
        transform: rotate(180deg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50%;
        float: left;
        @include breakpoint(small) {
            width: 35px;
            height:35px;
        }
        @include breakpoint(large) {
            width: 53px;
            height: 53px;
        }
    }
}
