@import 'settings';
@font-face {
    font-family: 'oswaldbold';
    src: url('/assets/fonts/oswald-bolditalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/oswald-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswaldregular';
    src: url('/assets/fonts/oswald-regularitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/oswald-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
$mainColor: #141414; //black
$secondColor: #171717; //darkerBlack
// $thirdColor: #252525; //lighterBlack
$thirdColor: #131313;
$firstAccentColor: #E51B23; //red
$secondAccentColor: #1B1B1B; //lower nav bar
$firstFontColor: #ffffff; //white
$secondFontColor: #8B8B8B; //grey-ish
//color from invision #131313
//import from google
$mainSiteFont: 'oswaldbold', sans-serif;
$secondSiteFont: 'Lato', sans-serif; //site width
$mainSiteWidth: 1800px;
$borderColor:#2f2f2f;
@mixin skewMe($degree) {
    height: 518px;
    transform: skewX($degree);
    // border: 1px solid red;
    position: relative;
    overflow: hidden;
    z-index: 10;

    > * {
        position: absolute;
        left: -119px;
        right: -119px;
        transform: skewX(-$degree);
    }
}

// foundation over-write
