@import 'settings'; 

$mainColor: #141414; //black
$secondColor: #171717; //darkerBlack
// $thirdColor: #252525; //lighterBlack
$thirdColor: #131313;
$firstAccentColor: #E51B23; //red
$secondAccentColor: #1B1B1B; //lower nav bar
$firstFontColor: #ffffff; //white
$secondFontColor: #8B8B8B; //grey-ish
//color from invision #131313
//import from google
$mainSiteFont: 'Oswald', sans-serif;
$secondSiteFont: 'Lato', sans-serif;
//site width
$mainSiteWidth: 1600px;
@mixin skewMe($degree) {
    height: 518px;
    transform: skewX($degree);
    // border: 1px solid red;
    position: relative;
    overflow: hidden;
    z-index: 10;

    > * {
        position: absolute;
        left: -119px;
        right: -119px;
        transform: skewX(-$degree);
    }
}
