.swoop {
  height:518px;
  .columns{
    padding:0;
  }
  .left-content {
      padding: 50px 0 0 8vw;
  }
  .right-content {
    padding: 50px 8vw 0 0;
    text-align: right;
  }
  hr{
    //margin:10px;
  }
    h1 {
        font-size: 31px;
        font-weight: 600;
        line-height: 42px;
        font-style: normal;
        font-family: $mainSiteFont;
        //padding:10px;
    }

    .right {
        .skewMe {
            @include skewMe(-25deg);
            @include breakpoint(small only) {
                 @include skewMe(0deg);
            }
        }
        .clipMe{

          clip-path: url("#rightClip");
          // clip-path: polygon(28.4% 0%, 100% 0%, 100% 100%, 0% 100%);
          height:518px;
          @include breakpoint(small only) {
              clip-path: none;
          }
        }
    }

    .left {
        h1 {
            text-align: right;
            @include breakpoint(small only) {
                 text-align: left;
            }
        }

        hr {
            float: right;
            @include breakpoint(small only) {
                 float:left;
            }
        }


        .skewMe {
            @include skewMe(25deg);
            @include breakpoint(small only) {
                 @include skewMe(0deg);
            }
        }
        .clipMe{
          clip-path: url("#leftClip");
          // clip-path: polygon(0% 0%, 71.5% 0%, 100% 100%, 0% 100%);
          height:518px;
          position: relative;
          z-index: 500;
          // border:1px solid red;
          @include breakpoint(small only) {
              clip-path: none;
          }
        }
    }
}
