<!-- use segmentHeader scss -->

<div class="row segments " style="position:relative">
  <div class="large-12 medium-12 small-12 columns noPad">
    <div class="glass">
      <div class="breadCrumb show-for-large">
        <a>home </a>
        
        <div class="currentLocation">
          <div class="glassTitle">find a dealer</div>
          <div class="navDownArrow"></div>
        </div>
      </div>
      <div class="tabsController show-for-large">
        <ul class="pages modelTabsCheck" data-tabs id="segment-tabs">
          <li class="pageTitle"><a href="/model/overview.html" aria-selected="true">Overview</a></li>
          <li class="pageTitle"><a href="/model/gallery.html">gallery</a></li>
          <li class="pageTitle"><a href="/model/reviews.html">reviews</a></li>
          <li class="pageTitle"><a href="/model/build.html" class="allModels">build your own</a></li>
        </ul>
      </div>

      <div class="hide-for-large mobileSegmentNav">
        <span></span>
        <div class="currentLocation">
         <h5>find a dealer</h5>
        </div>
      </div>
    </div>

    <div class="hide-for-large mobileGlass">
      <ul class="pages modelTabsCheck" data-tabs id="segment-tabs">
        <li class="pageTitle"><a href="/model/overview.html" aria-selected="true">Overview</a></li>
        <li class="pageTitle"><a href="/model/gallery.html">gallery</a></li>
        <li class="pageTitle"><a href="/model/reviews.html">reviews</a></li>
        <li class="pageTitle"><a href="/model/build.html" class="allModels">build your own</a></li>
      </ul>
    </div>

    <div class="floatingModelPriceBlock" style="display:none">
      <h5>boat name </h5>
      <h6>motor and trailer</h6>
      <span class="basicText">priced to be yours</span>
      <span class="price">$34,959<span>usd</span></span>
      <div class="" style="width:100%;  text-align:center">
        <button class="button ctaButton" style="">build your own</button>
      </div>
    </div>
  </div>
</div>
