<div class="row expanded">
  <div class="large-12 medium-12 small-12 columns">
    <div class="formContainer">
      <span></span>
      <div class="middlePush">
        <div class="row collapse">


  

        <div class="formElements">
          <div class="fakeLabel">boat type</div>
          <select name="boatType">
            <option value="Fiberglass">Fiberglass</option>
            <option value="Aluminum">Aluinum</option>
            <option value="Saltwater">Saltwater</option>
            <option value="Pontoon">Pontoon</option>
        </select>
        </div>

        <div class="formElements">
          <div class="labelBounce">
            <label> zip, state, city</label>
            <input name="location" />
          </div>
        </div>

<input type="checkbox" class="red" checked />sdfg

        </div>
      </div>
    </div>
  </div>
</div>