<div class="expanded row small-collapse ">
    <div class=" large-12 small-12 medium-12 columns">
        <div class="slideBackground" style="background-image: url('/assets/img/model-bg.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div class="row">
                <div class="large-12 columns">
                    <div id="modelCarousel" class="owl-carousel modelCarousel">
                        <img class="modelItem" src="/assets/img/boat-side-shot.png" alt="">
                        <img class="modelItem" src="/assets/img/boat-side-shot.png" alt="">
                        <img class="modelItem" src="/assets/img/boat-side-shot.png" alt="">
                        <img class="modelItem" src="/assets/img/boat-side-shot.png" alt="">
                    </div>
                </div>
            </div>
            <div class="modelController" style="">
              <div class="modelPrev"></div>
              <div class="modelNext"></div>
            </div>
        </div>
    </div>
</div>
