<div class="row">
    <div class="large-12 medium-12 small-12">
        <div class="floatDown">
            <!--/* this is to push the page content under the header. Fixes header position issue */-->
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 medium-12 small-12 columns">
        <div class="videoTabControls">
            <ul class="tabs" data-tabs id="video-tabs">
                <li class="tabs-title is-active"><a href="#featuresGallery" aria-selected="true">features</a></li>
                <li class="tabs-title"><a href="#lifestyleGallery">lifestyle</a></li>
                <li class="tabs-title"><a href="#videosGallery">videos</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="tabs-content" data-tabs-content="video-tabs">
    <div class="tabs-panel is-active" id="featuresGallery">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                
                <div class="videoContainer">


                    
                    
                    
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs-panel" id="lifestyleGallery">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                life style gallery
                <div class="videoContainer">


                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs-panel" id="videosGallery">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                video
                <div class="videoContainer">

                  <div class="seriesVideos">
                      <div class="galleryImage responsive-embed">
                          <a data-open="videoModal1"><img src="/assets/img/vidExample.jpg" alt=""></a>
                          <!-- make the modall name somethine that can be authored, maybe a spaceless version of title? -->
                          
                          <div class="reveal vidPlayer" id="videoModal1" data-reveal>
                            
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/e8Q8PYW5mkM" frameborder="0" allowfullscreen></iframe>
                          
                              <button class="close-button" data-close aria-label="Close reveal" type="button">
                                <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                      </div>
                  </div>

                  <div class="seriesVideos">
                      <div class="galleryImage responsive-embed">
                          <a data-open="videoModal2"><img src="/assets/img/vidExample2.jpg" alt=""></a>
                          <!-- make the modall name somethine that can be authored, maybe a spaceless version of title? -->
                          
                          <div class="reveal vidPlayer" id="videoModal2" data-reveal>
                          
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/EJbJzMCWSDc" frameborder="0" allowfullscreen></iframe>
                          
                              <button class="close-button" data-close aria-label="Close reveal" type="button">
                                <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                      </div>
                  </div>

                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                    <div class="seriesVideos">
                        <div class="galleryImage">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>