<br>
<br>
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
      <!--/* This will be a video, just one. It needs to be authorable and will need the video hook */-->
      <div class="video">
          <div class="video-button"></div>
          <img src="/assets/img/video-placeholder.png">
      </div>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="large-12 medium-12 small-12 columns textContainer">
    <h1 >view all videos</h1>
    <div class="arrow" style=""></div>
  </div>
</div>
<br>
