<div class="expanded row ">
  <div class=" large-12 small-12 medium-12 columns">
    <div class="heroContainer">
      <div class="backgroundHero" style="background-image: url('/assets/img/3layerBackground.png'); background-repeat: no-repeat; background-size: cover; background-position: center;">

        <div class="row">
          <div class="large-8 medium-8 small-8 large-centered small-centered medium-centered columns">
            <div class="proQuote center">
              <h2>"Time is a companion that goes with us on a journey. It reminds us to cherish each moment, because it will never come again. What we leave behind is not as important as how we have lived."</h2>
              <div class="proPhoto">
                <img src="/assets/img/Picard2379.jpg" alt="">
              </div>
              <h5>Captain Jean-Luc Picard</h5>
              <h6>captain of the starship enterprise </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="theReviews">
    <div class="large-9 medium-7 small-12 columns">
      <h1>customer reviews</h1>
      <div class="reviewContainer">

        <div class="review">
          <div class="proPhoto">
            <img src="/assets/img/MalReynoldsFirefly.jpg" alt="">
          </div>
          <div class="reviewText">
            <div class="triangle-border arrowLeft">
              We're not gonna die. We can't die, Bendis. You know why? Because we are so very pretty. We are just too pretty for God to let us die.
              <h1>Captain Mal</h1>
              <h4>Firefly</h4>
            </div>
          </div>
        </div>

        <div class="review">
          <div class="proPhoto">
            <img src="/assets/img/PhilipDick.jpg" alt="">
          </div>
          <div class="reviewText">
            <div class="triangle-border arrowLeft">
              "I, for one, bet on science as helping us. I have yet to see how it fundamentally endangers us, even with the H-bomb lurking about. Science has given us more lives than it has taken; we must remember that.
              <h1>Philip K. Dick</h1>
              <h4>The Shifting Realities of Philip K. Dick</h4>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="large-3 medium-5 small-12 columns">
      <h1>video reviews</h1>
      <div class="reviewContainer">
        <div class="seriesVideos">
          <div class="galleryImage responsive-embed">
            <a data-open="videoModal2"><img src="/assets/img/vidExample2.jpg" alt=""></a>
            <!-- make the modall name somethine that can be authored, maybe a spaceless version of title? -->

            <div class="reveal vidPlayer" id="videoModal2" data-reveal>

              <iframe width="560" height="315" src="https://www.youtube.com/embed/EJbJzMCWSDc" frameborder="0" allowfullscreen></iframe>

              <button class="close-button" data-close aria-label="Close reveal" type="button">
                            <span aria-hidden="true">&times;</span>
                          </button>
            </div>
          </div>
          <h4>This is the Video Title</h4>
        </div>
        <div class="seriesVideos">
          <div class="galleryImage responsive-embed">
            <a data-open="videoModal1"><img src="/assets/img/vidExample.jpg" alt=""></a>
            <!-- make the modall name somethine that can be authored, maybe a spaceless version of title? -->

            <div class="reveal vidPlayer" id="videoModal1" data-reveal>

              <iframe width="560" height="315" src="https://www.youtube.com/embed/e8Q8PYW5mkM" frameborder="0" allowfullscreen></iframe>

              <button class="close-button" data-close aria-label="Close reveal" type="button">
                            <span aria-hidden="true">&times;</span>
                          </button>
            </div>
          </div>
          <h4>This is the Video Title</h4>
        </div>
        <div class="seriesVideos">
          <div class="video">

          </div>
          <h4>This is the Video Title</h4>
        </div>
      </div>
    </div>
  </div>
</div>