<div class="expanded row small-collapse">
    <div class=" large-12 small-12 medium-12 columns">
        <div class="heroContainer">
            <div class="backgroundHero" style="background-image: url('/assets/img/Z520_SunBack_1.png'); background-repeat: no-repeat; background-size: cover; background-position: center;">
            </div>
            <div class="row">
                <div class="large-6 medium-6 small-6 columns ">
                    <div class="overImage">
                        <br>
                        <h1>BUILD YOUR OWN</h1>
                        <h4>CATCH THE DREAM ALL OTHERS CHASE</h4>
                        <hr />
                        <div class="dek">
                            Irony yr echo park health goth, truffaut fixie try-hard la croix squid umami cardigan polaroid bicycle rights vaporware occupy. Fashion axe quinoa mumblecore, locavore chartreuse kogi forage direct trade. Tumeric neutra kombucha, blue bottle gluten-free
                            butcher jean shorts everyday carry sustainable forage drinking vinegar snackwave mlkshk. </div>
                    </div>
                </div>
                <div class="large-6 medium-6 small-6 columns ">
                    <div class="floatingModelPriceBlock">
                      <h4 class="show-for-large">Z522D Comanche</h4>
                      <h6>w/ Mercury 20 ELPT Four Stroke and Trailer</h6>
                      <span class="basicText">priced to be yours</span>
                      <span class="price">$34,959<span>usd</span></span>
                      <div class="without-arrow"style="width:100%;">
                        <button class="button ctaButton">build your own</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
