<!--/*
* Images should pull from the gallery
*/-->

<div class="row">
    <div class="hpMason">
        <div class="large-6 medium-6 columns">
            <div class="bigBlock" style="background:url('/assets/img/video-placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            </div>
            <div class="row">
                <div class="large-6 medium-6 columns">
                    <div class="smallBlock" style="background:url('/assets/img/video-placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
                    </div>
                </div>
                <div class="large-6 medium-6 columns">
                    <div class="smallBlock" style="background:url('/assets/img/video-placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
                    </div>
                </div>
            </div>
        </div>
        <div class="large-6 medium-6 columns">
            <div class="row">
                <div class="large-6 medium-6 columns">
                    <div class="smallBlock" style="background:url('/assets/img/video-placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
                    </div>
                </div>
                <div class="large-6 medium-6 columns">
                    <div class="smallBlock" style="background:url('/assets/img/video-placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
                    </div>
                </div>
            </div>
            <div class="bigBlock" style="background:url('/assets/img/video-placeholder.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 medium-12 small-12 columns textContainer">
        <h1>view full gallery</h1>
        <div class="arrow" style=""></div>
    </div>
</div>
