<div class="row">
  <div class="small-12 columns">

    <ul class="vertical menu accordian" data-accordion-menu>
      <li>
        <a href="#">fiberglass</a>
        <ul class="nested">
          <li><a href="#">a boat 1</a></li>
          <li><a href="#">a boat 2</a></li>
          <li><a href="#">a boat 3</a></li>
          <li><a href="#">a boat 4</a></li>
        </ul>
      </li>
      <li>
        <a href="#">aluminum</a>
        <ul class="nested">
          <li><a href="#">a boat 1</a></li>
          <li><a href="#">a boat 2</a></li>
          <li><a href="#">a boat 3</a></li>
          <li><a href="#">a boat 4</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Salt</a>
        <ul class="nested">
          <li><a href="#">a boat 1</a></li>
          <li><a href="#">a boat 2</a></li>
          <li><a href="#">a boat 3</a></li>
          <li><a href="#">a boat 4</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Pontoon</a>
        <ul class="nested">
          <li><a href="#">a boat 1</a></li>
          <li><a href="#">a boat 2</a></li>
          <li><a href="#">a boat 3</a></li>
          <li><a href="#">a boat 4</a></li>
        </ul>
      </li>




    </ul>
  </div>
</div>