<div class="row show-for-small-only small-collapse">
  <div class="small-12 columns">
    <div class="smallNav">
      <div class="title-bar">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-toggle="offCanvasLeft"></button>
        </div>
        <span class="title-bar-title"><a href="http://rangerboats.com"><img src="{{root}}assets/img/logo.png" /></a></span>
        <div class="title-bar-right">
          <button class="menu-icon" type="button" data-toggle="offCanvasRight"></button>
        </div>
      </div>
    </div>
  </div>
</div>

