<div class="row expanded small-collapse">
  <div class="small-12 columns">

    <ul class="vertical menu accordian" data-accordion-menu>
      <li>
        <a href="#">BOATS</a>
        <ul class="nested">
          <li><a href="#">Fiberglass</a></li>
          <li><a href="#">Aluminum</a></li>
          <li><a href="#">Saltwater</a></li>
          <li><a href="#">Pontoon</a></li>
        </ul>
      </li>
      <li>
        <a href="#">BUILD YOUR OWN</a>
      </li>
      <li>
        <a href="#">REQUEST CATALOG</a>
      </li>
      <li>
        <a href="#">OWNERS</a>
        <ul class="nested">
          <li><a href="#">a boat 1</a></li>
          <li><a href="#">a boat 2</a></li>
          <li><a href="#">a boat 3</a></li>
          <li><a href="#">a boat 4</a></li>
        </ul>
      </li>
      <li>
        <a href="#">SHOPPING TOOLS</a>
        <ul class="nested">
          <li><a href="#">a boat 1</a></li>
          <li><a href="#">a boat 2</a></li>
          <li><a href="#">a boat 3</a></li>
          <li><a href="#">a boat 4</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="row expanded small-collapse">
  <div class="small-12 columns mobile-secondary">
    <ul class="">
      <li class="item">
        <div>our heritage</div>
      </li>
      <li class="item">
        <div>5 star advantage</div>
      </li>
      <li class="item">
        <div>ranger cup</div>
      </li>
      <li class="item">
        <div>signature quality</div>
      </li>
      <li class="item">
        <div>signature quality</div>
      </li>
      <li class="item">
        <div><img src="/assets/img/usd-icon.png" class="currency-icon">USD</div>
      </li>
    </ul>
</div>
</div>
