<div class="row small-collapse">
  <div class="small-12 columns">
    <div class="smallNav">
      <div class="title-bar">
        <div class="title-bar-right">
          <div class="menu-icon mobileMenuCall" type="button"></div>
        </div>
        <span class="title-bar-title"><a href="http://rangerboats.com"><img src="{{root}}assets/img/logo.png" /></a></span>
      </div>
      <div class="mobileSelector" style="display:none;">
        {{> mobileMenuItems}}
      </div>
    </div>
  </div>
</div>
