<div class="row expanded small-collapse">
  <div class="small-12 columns">

    <ul class="vertical menu accordian" data-accordion-menu>
      <li>
        <a href="#">BOATS</a>
        <ul class="nested">
          <li><a href="#">a boat 1</a></li>
          <li><a href="#">a boat 2</a></li>
          <li><a href="#">a boat 3</a></li>
          <li><a href="#">a boat 4</a></li>
        </ul>
      </li>
      <li>
        <a href="#">BUILD YOUR OWN</a>
      </li>
      <li>
        <a href="#">REQUEST CATALOG</a>
      </li>
      <li>
        <a href="#">OWNERS</a>
        <ul class="nested">
          <li><a href="#">a boat 1</a></li>
          <li><a href="#">a boat 2</a></li>
          <li><a href="#">a boat 3</a></li>
          <li><a href="#">a boat 4</a></li>
        </ul>
      </li>
      <li>
        <a href="#">SHOPPING TOOLS</a>
        <ul class="nested">
          <li><a href="#">a boat 1</a></li>
          <li><a href="#">a boat 2</a></li>
          <li><a href="#">a boat 3</a></li>
          <li><a href="#">a boat 4</a></li>
        </ul>
      </li>
    </ul>


  </div>
</div>
