<div class="segments" style="display:none;">

  {{> navSegmentSelector}}

</div>

<div class="owners" style="display:none">
  This is owners
</div>

<!--/* boat segments */-->
<!--/* scss is navMenuItems */-->
<div class="fiberGlass" style="display:none">
  <div class="row large-collapse">
    <div class="large-3 columns">
      <h1>fiberglass</h1>
      <div class="backButton" style="cursor:pointer;">
        back
      </div>
    </div>
    <div class="large-9 columns">
      
        <div class="segmentGroup">
          <div class="navCategory">
            BASS
          </div>
          <div class="navModel">
            <ul class="navUL">
              <li class="series">Tournament</li>
              <li >RT178</li>
              <li >RT178C</li>
              <li >RT188</li>
              <li >RT188C</li>
              <li >RT198p</li>
            </ul>
          </div>
        </div>
        
        <div class="segmentGroup">
          <div class="navCategory">
            UTILITY
          </div>
          <div class="navModel">
            <ul class="navUL">
              <li class="series">mpv</li>
              <li >1862cc</li>
              <li >1862</li>
              <li >1760</li>
              <li class="new">1652</li>
            </ul>
            <ul class="navUL">
              <li class="series">white river</li>
              <li >see models</li>
            </ul>
          </div>
        </div>

        <div class="segmentGroup">
          <div class="navCategory">
            multi-species
          </div>
          <div class="navModel">
            <ul class="navUL">
              <li class="series">deep-v</li>
              <li >vs1780</li>
              <li >vs1780</li>
              <li >vs1780</li>
              <li >vs1780</li>
              <li >vs1780</li>
              <li >vs1780</li>
              <li >vs1780</li>
              <li >vs1780</li>
              <li >vs1780</li>
              <li >vs1780</li>
              <li >vs1780</li>
            </ul>
          </div>
        </div>

      <div class="segmentGroup">
          <div class="navCategory">
            saltwater
          </div>
          <div class="navModel">
            <ul class="navUL">
              <li class="series">rb</li>
              <li >rb190</li>
              
            </ul>
          </div>
        </div>

      
    </div>
  </div>
</div>

<div class="aluminum" style="display:none">
  This is aluminum
</div>

<div class="salt" style="display:none">
  This is salt
</div>

<div class="pontoon" style="display:none">
  This is pontoon
</div>