<!--/* scss is navMenuItems */-->

<div class="button0" style="display:none;">

  {{> navSegmentSelector}}

</div>

<div class="button3" style="display:none">

  <div class="navDropColumnContainer" style="">




        <div class="navDropColumnGroup">
          <h6>community</h6>
          <div class="navModel">
            <ul class="navUL">
              <li><a href="#">Ranger Cup</a></li>
              <li><a href="#">Bulletin Board</a></li>
              <li><a href="#">Boating Safety</a></li>
              <li class="linkOut">Ranger Wear</a></li>
              <li><a href="#">Sponsored TV Shows</a></li>
              <li><a href="#">Recent News</a></li>
            </ul>
          </div>
        </div>



        <div class="navDropColumnGroup">
          <h6>Maintenance & care</h6>
          <div class="navModel">
            <ul class="navUL">
              <li><a href="#">Parts & Accessories</a></li>
              <li><a href="#">My Warranty</a></li>
            </ul>
          </div>
        </div>
        
        
      </div>


</div>

<!--/* boat segments */-->

<div class="fiberGlass navSegment" style="display:none">
  <div class="row large-collapse">
    <div class="large-3 columns">
      <h4>fiberglass</h4>
      <div class="backButton button" style="cursor:pointer;">
        back
      </div>
    </div>
    <div class="large-9 columns">

      <div class="navDropColumnGroup">
        <div class="navCategory">
          BASS
        </div>
        <div class="navModel">
          <ul class="navUL">
            <li class="series">Tournament</a></li>
            <!--/* This is an example of a new boat. This needs to be a property on the page that can be maked as subtext and have a text box where
            they can enter in a word for it to say (i.e. New low price; new; updated; look here) */-->
            <li><a href="#">RT178</a><span class="newItem">new</span></li>
            <li><a href="#">RT178C</a></li>
            <li><a href="#">RT188</a></li>
            <li><a href="#">RT188C</a></li>
            <li><a href="#">RT198p</a></li>
          </ul>
        </div>
      </div>

      <div class="navDropColumnGroup">
        <div class="navCategory">
          UTILITY
        </div>
        <div class="navModel">
          <ul class="navUL">
            <li class="series">mpv</a></li>
            <li><a href="#">1862cc</a></li>
            <li><a href="#">1862</a><span class="newItem">updated</span></li>
            <li><a href="#">1760</a></li>
            <li class="new">1652</a></li>
          </ul>
          <ul class="navUL">
            <li class="series">white river</a></li>
            <li><a href="#">see models</a></li>
          </ul>
        </div>
      </div>

      <div class="navDropColumnGroup">
        <div class="navCategory">
          multi-species
        </div>
        <div class="navModel">
          <ul class="navUL">
            <li class="series">deep-v</a></li>
            <li><a href="#">VS1780</a></li>
            <li><a href="#">VS1780</a></li>
            <li><a href="#">VS1780</a></li>
            <li><a href="#">VS1780</a></li>
            <li><a href="#">VS1780</a></li>
            <li><a href="#">VS1780</a></li>
            <li><a href="#">VS1780</a></li>
            <li><a href="#">VS1780</a></li>
            <li><a href="#">VS1780</a></li>
            <li><a href="#">VS1780</a></li>
            <li><a href="#">VS1780</a></li>
          </ul>
        </div>
      </div>

      <div class="navDropColumnGroup">
        <div class="navCategory">
          saltwater
        </div>
        <div class="navModel">
          <ul class="navUL">
            <li class="series">rb</a></li>
            <li><a href="#">RB190</a></li>

          </ul>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="aluminum" style="display:none">
  This is aluminum
</div>

<div class="salt" style="display:none">
  This is salt
</div>

<div class="pontoon" style="display:none">
  This is pontoon
</div>
