<div class="row navSegmentSelector small-collapse large-collapse">

  <!--/*
    These should be dynamically created. Number of images added /12 becomes the grid class

    NoI/12=x (large-x, medium-x) added to each column class.
   */-->

    <div class="small-3 medium-3 large-3 columns">
      <a href="fiberGlass">  <div class="main " style="background:url('/assets/img/series-3.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            <div class="darken">

            </div>
        </div>
        <div class="textLayer">
            <h1>FIBErglass</h1>
            <div class="arrow" style>
                <img src="assets/img/arrow.svg" />
            </div>
            <h4>bass, fish & play, multi species</h4>
        </div></a>
    </div>

    <div class="small-3 medium-3 large-3 columns">
        <a href="aluminum"> <div class="main" style="background:url('/assets/img/series-4.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            <div class="darken">

            </div>
        </div>
        <div class="textLayer">
            <h1>aluminum</h1>
            <div class="arrow" style>
                <img src="/assets/img/arrow.svg" />
            </div>
            <h4>bass, fish & play, multi species</h4>
        </div></a>
    </div>

    <div class="small-3 medium-3 large-3 columns">
      <a href="salt">  <div class="main" style="background:url('/assets/img/series-2.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            <div class="darken">

            </div>
        </div>
        <div class="textLayer">
            <h1>saltwater</h1>
            <div class="arrow" style>
                <img src="/assets/img/arrow.svg" />
            </div>
            <h4>bay, skiff, intercoastal</h4>
        </div></a>
    </div>

    <div class="small-3 medium-3large-3 columns">
      <a href="pontoon">  <div class="main" style="background:url('/assets/img/series-1.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            <div class="darken">

            </div>
        </div>
        <div class="textLayer">
            <h1>pontoon</h1>
            <div class="arrow" style>
                <img src="/assets/img/arrow.svg" />
            </div>
            <h4>luxury, cruse, fish</h4>
        </div>
    </div></a>
</div>
