<div class="expanded row ">
    <div class=" large-12 small-12 medium-12 columns">
        <div class="bmtBackground layerOne" style="background-image: url('assets/img/3layerBackground.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <div class="threeLayerTextBlock">
                        <h1>This is the title</h1>
                        <hr />
                        <h4>Dreamcatcher. Scorpion power girl deacon frost hit-girl x-man offspring green arrow? Captain universe; angel montana tempest nova franklin "foggy" nelson! Augustus "gus" beezer boom boom black knight john stacy micah sanders.</h4>
                    </div>
                </div>
                <div class="large-12 medium-12 small-12 columns">
                    <div class="layerThree">
                        <img src="assets/img/bmt.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                <div class="" style="width:100%;  text-align:center">
                    <button class="button ctaButton" style="">cta</button>
                </div>
            </div>
        </div>
    </div>
</div>
