<div class="expanded row small-collapse">
  <div class=" large-12 small-12 medium-12 columns">
    <div class="smallHeroContainer">
      <div class="heroBackground heroHorizontalRightVerticalBottom" style="background-image: url('/assets/img/footer-bg.png'); background-repeat: no-repeat; background-size: cover; background-position: center;">

        
          <span></span>
      
            <div class="heroCopy ">
              <h2>"Time is a companion that goes with us on a journey. It reminds us to cherish each moment, because it will never come again."</h2>
              <div class="proPhoto">
                <img src="/assets/img/Picard2379.jpg" alt="">
              </div>
              <h5>Captain Jean-Luc Picard</h5>
              <h6>captain of the starship enterprise </h6>
              </div>
        
      </div>
    </div>
  </div>
</div>
