<div class="row">
    <div class="catalogForm">
        <div class="large-4 medium-4 small-12 columns">
            image
        </div>
        <div class="large-8 medium-8 small-12 columns">
            <div class="dek">
                <p>Simply fill out the information below and allow 10–14 business days for delivery of the Reata® by Ranger® catalog. We do not share personal information with non-affiliated third parties. For information on how we protect your privacy,
                    please read our Terms of Use.</p>
                <p>You can also request a catalog featuring Ranger's Bass, Fish-n-Play, Multi-Species or Saltwater Series boats by calling 1-800-373-BOAT (2628). To request a Ranger Wear catalog, call 1-800-848-3411.</p>
            </div>


            <div class="labelBounce">
                <label> first name</label>
                <input name="fName" />
            </div>
            <div class="labelBounce">
                <label> last name</label>
                <input name="lName" />
            </div>

            <form action="#">
                
                    
                

                
                    <div class="squaredThree">
                        <input type="checkbox" value="None" id="squaredThree" name="check" checked />click
                        <label for="squaredThree"></label>
                    </div>
                

                <form>
                    <div class="labelBounce">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        <small class="text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <fieldset class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="exampleSelect1">Example select</label>
                        <select class="form-control" id="exampleSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="exampleSelect2">Example multiple select</label>
                        <select multiple class="form-control" id="exampleSelect2">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="exampleTextarea">Example textarea</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" class="form-control-file" id="exampleInputFile">
                        <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                    </fieldset>
                    <div class="radio">
                        <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                      Option one is this and that&mdash;be sure to include why it's great
                    </label>
                    </div>
                    <div class="radio">
                        <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                      Option two can be something else and selecting it will deselect option one
                    </label>
                    </div>
                    <div class="radio disabled">
                        <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                      Option three is disabled
                    </label>
                    </div>
                    <div class="checkbox">
                        <label>
                      <input type="checkbox"> Check me out
                    </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>


                <label>
          <input />
        


            </form>
        </div>
    </div>
</div>