<div class="row">
    <div class="catalogForm">
        <div class="large-4 medium-4 small-12 columns">
            image
        </div>
        <div class="large-8 medium-8 small-12 columns">
            <div class="dek">
                <p>Simply fill out the information below and allow 10–14 business days for delivery of the Reata® by Ranger® catalog. We do not share personal information with non-affiliated third parties. For information on how we protect your privacy,
                    please read our Terms of Use.</p>
                <p>You can also request a catalog featuring Ranger's Bass, Fish-n-Play, Multi-Species or Saltwater Series boats by calling 1-800-373-BOAT (2628). To request a Ranger Wear catalog, call 1-800-848-3411.</p>
            </div>


            <div class="labelBounce">
                <label> first name</label>
                <input name="fName" />
            </div> 
            <div class="labelBounce">
                <label> last name</label>
                <input name="lName" />
            </div>
            <br /> 
            <!--/* <div class="checkboxes"> */-->
            A checkbox example
            <input type="checkbox" class="red" checked />
            <!--/* </div> */-->
            <input type="radio" id="r1" name="rr" />
                <label for="r1"><span></span>Radio Button 1</label>
              
                <input type="radio" id="r2" name="rr" />
                <label for="r2"><span></span>Radio Button 2</label>
        
        </div>
    </div>
</div>