<div class="row">
  <div class="catalogForm">
    <div class="large-4 medium-4 small-12 columns">
      <h5>ranger boats</h5>
      <div class="v-card">
        PO Box 179<br/>
        927 Highway 178 North<br/>
        Flippin, AR 72634<br/>
      </div>
    </div>
    <div class="large-8 medium-8 small-12 columns">
      

      <div class="row">
        <div class="small-12 medium-6 column">
          <div class="labelBounce">
            <label> first name</label>
            <input name="fName" type="text" />
          </div>
        </div>
        <div class="small-12 medium-6 column">
          <div class="labelBounce">
            <label> last name</label>
            <input name="lName" type="text" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-6 column">
          <div class="labelBounce">
            <label> Address*</label>
            <input name="address1" required type="text" />
          </div>
        </div>
        <div class="small-12 medium-6 column">
          <div class="labelBounce">
            <label> Address 2</label>
            <input name="address2" type="text" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-6 column">
          <div class="fakeLabel">State</div>
          <select name="state">
      <option value="none">Select One</option>
      <option value="AL">Alabama</option>
    	<option value="AK">Alaska</option>
    	<option value="AZ">Arizona</option>
    	<option value="AR">Arkansas</option>
    	<option value="CA">California</option>
    	<option value="CO">Colorado</option>
    	<option value="CT">Connecticut</option>
    	<option value="DE">Delaware</option>
    	<option value="DC">District Of Columbia</option>
    	<option value="FL">Florida</option>
    	<option value="GA">Georgia</option>
    	<option value="HI">Hawaii</option>
    	<option value="ID">Idaho</option>
    	<option value="IL">Illinois</option>
    	<option value="IN">Indiana</option>
    	<option value="IA">Iowa</option>
    	<option value="KS">Kansas</option>
    	<option value="KY">Kentucky</option>
    	<option value="LA">Louisiana</option>
    	<option value="ME">Maine</option>
    	<option value="MD">Maryland</option>
    	<option value="MA">Massachusetts</option>
    	<option value="MI">Michigan</option>
    	<option value="MN">Minnesota</option>
    	<option value="MS">Mississippi</option>
    	<option value="MO">Missouri</option>
    	<option value="MT">Montana</option>
    	<option value="NE">Nebraska</option>
    	<option value="NV">Nevada</option>
    	<option value="NH">New Hampshire</option>
    	<option value="NJ">New Jersey</option>
    	<option value="NM">New Mexico</option>
    	<option value="NY">New York</option>
    	<option value="NC">North Carolina</option>
    	<option value="ND">North Dakota</option>
    	<option value="OH">Ohio</option>
    	<option value="OK">Oklahoma</option>
    	<option value="OR">Oregon</option>
    	<option value="PA">Pennsylvania</option>
    	<option value="RI">Rhode Island</option>
    	<option value="SC">South Carolina</option>
    	<option value="SD">South Dakota</option>
    	<option value="TN">Tennessee</option>
    	<option value="TX">Texas</option>
    	<option value="UT">Utah</option>
    	<option value="VT">Vermont</option>
    	<option value="VA">Virginia</option>
    	<option value="WA">Washington</option>
    	      <option value="WV">West Virginia</option>
    	      <option value="WI">Wisconsin</option>
    	      <option value="WY">Wyoming</option>
            <option value="AS">American Samoa</option>
            <option value="GU">Guam</option>
            <option value="MP">Northern Mariana Islands</option>
            <option value="PR">Puerto Rico</option>
            <option value="UM">United States Minor Outlying Islands</option>
            <option value="VI">Virgin Islands</option>
            <option value="AA">Armed Forces Americas</option>
            <option value="AP">Armed Forces Pacific</option>
            <option value="AE">Armed Forces Others</option>
      </select>
        </div>
        <div class="small-12 medium-6 column">
          <div class="labelBounce">
            <label> City</label>
            <input name="city" required type="text" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-6 column">
          <div class="labelBounce">
            <label> country</label>
            <input name="country" required type="text" />
          </div>
        </div>
        <div class="small-12 medium-6 column">
          <div class="labelBounce">
            <label> zip/postal code</label>
            <input name="zip" type="text" pattern="number" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-6 column">
          <div class="labelBounce">
            <label> phone number</label>
            <input name="phone" required type="text" pattern="number" />
          </div>
        </div>
        <div class="small-12 medium-6 column">
          <div class="labelBounce">
            <label> email</label>
            <input name="email" type="text" pattern="email" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-12 column">
          <div class="fakeLabel">category</div>
          <select name="category" id="category">
									  <option value="" requirehin="">Select one</option>
									
										<option value="12" requirehin="0">General Information</option>
									
										<option value="9" requirehin="1">Parts and Accessories</option>
									
										<option value="15" requirehin="0">Ranger Cup/Ranger Owners Group</option>
									
										<option value="8" requirehin="0">Sales</option>
									
										<option value="10" requirehin="1">Technical/Performance</option>
									
										<option value="14" requirehin="0">Trailers</option>
									
										<option value="11" requirehin="1">Warranty</option>
									
										<option value="13" requirehin="0">Webmaster</option>
									
								</select>

        </div>

      </div>

      <div class="row">
        <div class="small-12 columns">
          <div class="fakeLabel">message</div>
          <textarea name="message" rows="10" cols="30"></textarea>

        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          Need to upload photos or documents? Please email <span style="color:red">info@rangerboats.com</span>.
        </div>        
      </div>
      
      <div class="row">
        <div class="small-10 columns">
          We take your privacy very seriously.
        </div> 
        
        <div class="small-2 columns">
          <input type="submit" class="button ctaButton" value="submit details" style="width:140px; "/>
        </div>       
      </div>

    </div>
  </div>
</div>