<div class="row segments" style="position:relative">
    <div class="large-12 medium-12 small-12 columns noPad">
        <div class="glass">
            <div class="breadCrumb">
                <h4>home ></h4>
                <div class="currentLocation">
                    <h1>Ranger fiberglass</h1>
                    <div class="navDownArrow"></div>
                </div>
            </div>
            <div class="tabsController">
                <ul class="tabs" data-tabs id="segment-tabs">
                    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Overview</a></li>
                    <li class="tabs-title"><a href="#panel2">construction</a></li>
                    <li class="tabs-title"><a href="#panel3">video gallery</a></li>
                    <li class="tabs-title"><a href="#panel4" class="allModels">all models</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>