<!--/* 
* the author will need the ability to add a background image, a link which can be to a page/site/or video, title text, tagline, and dek
*/-->

<div class="expanded row ">
    <div class=" large-12 small-12 medium-12 columns">
        <div class="segmentHero">
            <a href="#1">
                <div class="slide short bw" style="background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/img/Z520_SunBack_2.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;">
                    
                </div>
                <div class="darken">
                  
                </div>
            </a>
        </div>
    </div>
</div>