<br>
<br>
<div class="row expanded" style="background-image: url('{{root}}assets/img/footer-bg.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="row footer">
        <div class="small-12 large-6 small-centered columns text-center">
            <br>
            <br>
            <h3>Find Your Ranger Dealer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <br>
            <button class="button ctaButton" style="">FIND YOUR DEALER</button>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="small-12 large-7 columns">
            <div class="row" style="border-right:1px solid rgba(255,255,255,0.1);">
                <div class="large-3 medium-3 small-3 columns">
                  <ul>
                      <li>boats</li>
                      <li>fiberglass</li>
                      <li>aluminum</li>
                      <li>saltwater</li>
                      <li>pontoons</li>
                    </ul>
                    <ul>
                      <li>why ranger?</li>
                      <li>our heritage</li>
                      <li>5 star advantage</li>
                      <li>signature quality</li>
                    </ul>
                </div>
                <div class="large-3 medium-3 small-3 columns">
                  <ul>
                      <li>owners</li>
                      <li>ranger cup</li>
                      <li>boating safety</li>
                      <li>ranger wear</li>
                      <li>parts and accessories</li>
                      <li>my warranty</li>
                    </ul>
                </div>
                <div class="large-3 medium-3 small-3 columns">
                  <ul>
                      <li>shopping tools</li>
                      <li>find a dealer</li>
                      <li>request a catalog</li>
                      <li>video gallery</li>
                      <li>custom finish shop</li>
                      <li>FAQ's</li>
                      <li>recent news</li>
                      <li>events</li>
                      <li>contact us</li>
                    </ul>
                </div>
                <div class="large-3 medium-3 small-3 columns">
                  <ul>
                      <li>company & brand</li>
                      <li>recent news</li>
                      <li>our partners</li>
                      <li>employment oppertunities</li>
                      <li>ranger pro's</li>
                      <li>company history</li>
                      <li>factory tour</li>
                    </ul>
                    <ul class="social">
                      <li>find us on</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="large-5 columns">
          <div class="footerLogo">
          <a href="http://rangerboats.com"><img src="{{root}}assets/img/logo.png" /></a>
          <h4>dealer info</h4>
          <div class="footPhoneNum">
            (800) 373-2628
          </div>
          <h4>general info</h4>
          <div class="footPhoneNum">
            (870) 453-2222
          </div>
        </div>
        </div>
    </div>
</div>
