<div class="row navOutterContainer  medium-colapse show-for-large">
  <div class="large-12 medium-12 small-12 nav columns">
    <div class="navInnerContainer">
      <div class="logo small-10 medium-2 text-center columns ">
        <a href="http://rangerboats.com"><img src="{{root}}assets/img/logo.png" /></a>
      </div>
      <div class="large-10 medium-10 small-2 columns  noPad">
          <div class="row small-collapse ">
            <div class="large-12 medium-12 small-12 top columns">
              <ul class="menu float-right">
                <ul class="dropdown menu" data-dropdown-menu>
                  <li>
                    <a href="#">Shopping Tools</a>
                    <ul class="menu">
                      <li><a href="#">Find A Dealer</a></li>
                      <li><a href="#">Request Catalog</a></li>
                      <li><a href="#">Special Offers</a></li>
                      <li><a href="#">Video Gallery</a></li> 
                    </ul>
                  </li>
                </ul>
              </ul>
              <ul class="menu float-right">
                <li class="item">
                  <div>our heritage</div>
                </li>
                <li class="item">
                  <div>5 star advantage</div>
                </li>
                <li class="item">
                  <div>ranger cup</div>
                </li>
                <li class="item">
                  <div>signature quality</div>
                </li>
                <li class="item">
                  <div>signature quality</div>
                </li>
              </ul>
            </div>
        </div>
        <div class="large-12 medium-12 small-12 middle columns">
          <ul class="menu navUL">
            <li class="item mainNav dropNav" data-name="Boats" data-index="segments">
              <div class="boats">boats</div>
            </li>
            <li class="item mainNav" data-name="Why Ranger" >
              <div class="whyRanger">build your own</div>
            </li>
            <li class="item mainNav" data-name="Owners" >
              <div class="owners">request catalog</div>
            </li>
            <li class="item mainNav dropNav" data-name="Shop" data-index="owners">
              <div class="shop">owners</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="large-12 medium-12 small-12 columns">
      <div class="selectorDrop" style="display:none; color:white; width:100%;">
        {{>navMenuItems}}
      </div>
    </div>
  </div>
</div>

<div class="row columns hide-for-large">
  {{> mobileNav}}
</div>
