<div class="expanded row small-collapse">
    <div class=" large-12 small-12 medium-12 columns">
      <div class="heroRelative">
        <div id="owl-example" class="owl-carousel heroCarousel">
            <div class="owl-item slide" style="background-image: url('assets/img/Z520_SunBack_1.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;">
                <div class="row">
                    <div class="small-12 columns">
                        <a href="#1"><div class="textBlock">
                            <h4>Catch The Dream All The Others Chase </h4>
                            <div class="arrow">
                                <div class="wordAndArrow">
                                    <h1>Z520C COMANCHE</h1>
                                    <img class="arrow" src="assets/img/white-arrow-button.svg" alt="">
                                </div>
                            </div>
                            <hr>
                        </div></a>
                    </div>
                </div>
            </div>
            <div class="owl-item slide" style="background-image: url('assets/img/Z520_SunBack_2.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;">
                <div class="row">
                    <div class="small-12 column">
                        <a href="#2"><div class="textBlock">
                            <h4>Catch The Dream All The Others Chase </h4>
                            <div class="arrow">
                                <div class="wordAndArrow">
                                    <h1>Z520C COMANCHE</h1>
                                    <img class="arrow" src="assets/img/white-arrow-button.svg" alt="">
                                </div>
                            </div>
                            <hr>
                        </div></a>
                    </div>
                </div>
            </div>
            <div class="owl-item slide" style="background-image: url('assets/img/Z520_SunBack_3.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;">
                <div class="row">
                    <div class="small-12 column">
                        <a href="#3"><div class="textBlock">
                            <h4>Catch The Dream All The Others Chase </h4>
                            <div class="arrow">
                                <div class="wordAndArrow">
                                    <h1>Z520C COMANCHE</h1>
                                    <img class="arrow" src="assets/img/white-arrow-button.svg" alt="">
                                </div>
                            </div>
                            <hr>
                        </div></a>
                    </div>
                </div>
            </div>
        </div>

    <div class="whiteBox">
      <div class="heroControles">
        <div class="heroNext">

        </div>
        <div class="heroPrev">

        </div>
      </div>
    </div>
  </div>
</div>
</div>
