<div class="expanded row ">
    <div class=" large-12 small-12 medium-12 columns">
        <div id="owl-example" class="owl-carousel heroCarousel">
<a href="#1"><div class="owl-item slide" style="background-image: url('assets/img/Z520_SunBack_1.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;">
                <div class="textBlock">
                    <h4>catchy line about stuff</h4>
                    <div class="arrow">
                        <div class="wordAndArrow">
                            <h1>Title or something bigger print</h1>
                            <img class="arrow" src="assets/img/white-arrow-button.svg" alt="">
                        </div>
                    </div>
                </div>
            </div></a>
          <a href="#2">  <div class="owl-item slide" style="background-image: url('assets/img/Z520_SunBack_2.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;">
                <div class="textBlock">
                    <h4>catchy line about stuff</h4>
                    <div class="arrow">
                        <div class="wordAndArrow">
                            <h1>Title or something bigger print</h1>
                            <img class="arrow" src="assets/img/white-arrow-button.svg" alt="">
                        </div>
                    </div>
                </div>
            </div></a>
          <a href="#3">  <div class="owl-item slide" style="background-image: url('assets/img/Z520_SunBack_3.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;">
                <div class="textBlock">
                    <h4>catchy line about stuff</h4>
                    <div class="arrow">
                        <div class="wordAndArrow">
                            <h1>Title or something bigger print</h1>
                            <img class="arrow" src="assets/img/white-arrow-button.svg" alt="">
                        </div>
                    </div>
                </div>
            </div></a>
        </div>
    </div>
    <div class="whiteBox">
      <div class="heroControles">
        <div class="heroNext">
          
        </div>
        <div class="heroPrev">
          
        </div>
      </div>
    </div>
</div>