<!--/*
* Image and title need to be authorable, also each block will need to be able to link and the link needs
* to be able to be authorable.
*/-->
<br>
<br>
<div class="row">
    <div class="hpMason">
        <div class="large-6 medium-6 columns">

            <div class="bigBlock" style="background:url('assets/img/series-3.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
                <h1 >This is a title</h1>
                <div class="readMore" >
                  <h4 >read more</h4><div class="arrow" >
                    <img src="assets/img/white-arrow-button.svg" alt="">
                  </div>
                </div>
            </div>
            <div class="smallBlock" style="background:url('assets/img/series-2.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
              <h1>This is a title 2</h1>
              <div class="readMore" >
                <h4 >read more</h4><div class="arrow" >
                  <img src="assets/img/white-arrow-button.svg" alt="">
                </div>
              </div>
            </div>
        </div>
        <div class="large-6 medium-6 columns">
            <div class="smallBlock" style="background:url('assets/img/series-1.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
              <h1>This is a title 3</h1>
              <div class="readMore" >
                <h4 >read more</h4><div class="arrow" >
                  <img src="assets/img/white-arrow-button.svg" alt="">
                </div>
              </div>
            </div>
            <div class="bigBlock" style="background:url('assets/img/series-4.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
              <h1>This is a title 4</h1>
              <div class="readMore" >
                <h4 >read more</h4><div class="arrow" >
                  <img src="assets/img/white-arrow-button.svg" alt="">
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
