<div class="row">
    <div class="large-12 medium-12 small-12 columns">
        <div class="modelTabControls">
            <ul class="tabs" data-tabs id="model-tabs">
                <li class="tabs-title is-active"><a href="#over" aria-selected="true">overview</a></li>
                <li class="tabs-title"><a href="#specs">specs</a></li>
                <li class="tabs-title"><a href="#standardFeat">standard features</a></li>
                <li class="tabs-title"><a href="#optionalFeat">optional features</a></li>
                <li class="tabs-title"><a href="#trailer">trailer</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="row">
    <div class="large-12 medium-12 small-12 columns">
        <div class="tabContentContainer">
            <div class="tabs-content" data-tabs-content="model-tabs">


                <div class="tabs-panel is-active" id="over">
                    <div class="row">
                        <div class="large-6 medium-6 columns">
                            <h1>Catchy line about why this boat is cool</h1>
                            <p class="small">We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that
                                challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win. To be the first to enter the cosmos, to engage, single-handed, in an unprecedented duel with nature—could
                                one dream of anything more? Curious that we spend more time congratulating people who have succeeded than encouraging people who have not. I believe every human has a finite number of heartbeats. I don't intend to waste
                                any of mine</p>
                        </div>
                        <div class="large-6 medium-6 columns">
                            <img src="assets/img/over.png" alt="">
                        </div>
                    </div>
                </div>



                <div class="tabs-panel is-active" id="specs">
                    <div class="row">
                        <div class="large-6 medium-6 columns">
                            <h2>capacities</h2>
                            <table cellpadding="0" cellspacing="0" class="stack">
                                <tbody>
                                    <tr>
                                        <td><span>hull length</span></td>
                                        <td><span>22'7"</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>beam</span></td>
                                        <td><span>100 1/2"</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>overall beam w/rubtail</span></td>
                                        <td><span>102"</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>max horsepower</span></td>
                                        <td><span>300</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="large-6 medium-6 columns">
                            <h2>rod box lengths</h2>
                            <table cellpadding="0" cellspacing="0" class="stack">
                                <tbody>
                                    <tr>
                                        <td><span>hull length</span></td>
                                        <td><span>22'7"</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>beam</span></td>
                                        <td><span>100 1/2"</span></td>
                                    </tr>

                                </tbody>
                            </table>
                            <h2>trailer</h2>
                            <table cellpadding="0" cellspacing="0" class="stack">
                                <tbody>
                                    <tr>
                                        <td><span>hull length</span></td>
                                        <td><span>22'7"</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>beam</span></td>
                                        <td><span>100 1/2"</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>overall beam w/rubtail</span></td>
                                        <td><span>102"</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>max horsepower</span></td>
                                        <td><span>300</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tabs-panel is-active" id="standardFeat">
                    <div class="row">
                        <div class="large-6 medium-6 columns">
                            <h2>power & performance</h2>
                            <ul>
                                <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                <li class="small">Vestibulum auctor dapibus neque.</li>
                                <li class="small">Ut enim ad minim veniam</li>
                                <li class="small">Duis aute irure dolor in reprehenderit</li>
                                <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                <li class="small">Vestibulum auctor dapibus neque.</li>
                                <li class="small">Ut enim ad minim veniam</li>
                                <li class="small">Duis aute irure dolor in reprehenderit</li>
                                <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                <li class="small">Vestibulum auctor dapibus neque.</li>
                                <li class="small">Ut enim ad minim veniam</li>
                                <li class="small">Duis aute irure dolor in reprehenderit</li>
                                <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                <li class="small">Vestibulum auctor dapibus neque.</li>
                                <li class="small">Ut enim ad minim veniam</li>
                                <li class="small">Duis aute irure dolor in reprehenderit</li>
                            </ul>
                            <h2>electronics</h2>
                            <ul>
                                <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                <li class="small">Vestibulum auctor dapibus neque.</li>
                                <li class="small">Ut enim ad minim veniam</li>
                                <li class="small">Duis aute irure dolor in reprehenderit</li>
                                <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                <li class="small">Vestibulum auctor dapibus neque.</li>
                                <li class="small">Ut enim ad minim veniam</li>
                                <li class="small">Duis aute irure dolor in reprehenderit</li>
                                <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                <li class="small">Vestibulum auctor dapibus neque.</li>
                                <li class="small">Ut enim ad minim veniam</li>
                                <li class="small">Duis aute irure dolor in reprehenderit</li>
                            </ul>
                            <h2>safty/comfort</h2>
                            <ul>
                                <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                <li class="small">Vestibulum auctor dapibus neque.</li>
                                <li class="small">Ut enim ad minim veniam</li>
                                <li class="small">Duis aute irure dolor in reprehenderit</li>
                                <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                <li class="small">Vestibulum auctor dapibus neque.</li>
                                <li class="small">Ut enim ad minim veniam</li>
                                <li class="small">Duis aute irure dolor in reprehenderit</li>
                                <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                <li class="small">Vestibulum auctor dapibus neque.</li>
                                <li class="small">Ut enim ad minim veniam</li>
                                <li class="small">Duis aute irure dolor in reprehenderit</li>
                            </ul>
                        </div>
                        <div class="large-6 medium-6 columns">
                            <h2>custom details</h2>
                            <ul>
                                <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                <li class="small">Vestibulum auctor dapibus neque.</li>
                                <li class="small">Ut enim ad minim veniam</li>
                                <li class="small">Duis aute irure dolor in reprehenderit</li>
                                <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                <li class="small">Vestibulum auctor dapibus neque.</li>
                                <li class="small">Ut enim ad minim veniam</li>
                                <li class="small">Duis aute irure dolor in reprehenderit</li>
                                <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                <li class="small">Vestibulum auctor dapibus neque.</li>
                                <li class="small">Ut enim ad minim veniam</li>
                                <li class="small">Duis aute irure dolor in reprehenderit</li>
                                <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                <li class="small">Vestibulum auctor dapibus neque.</li>
                                <li class="small">Ut enim ad minim veniam</li>
                                <li class="small">Duis aute irure dolor in reprehenderit</li>
                            </ul>
                            <h2>trailer features</h2>
                            <ul>
                                <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                <li class="small">Vestibulum auctor dapibus neque.</li>
                                <li class="small">Ut enim ad minim veniam</li>
                                <li class="small">Duis aute irure dolor in reprehenderit</li>
                                <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                <li class="small">Vestibulum auctor dapibus neque.</li>
                                <li class="small">Ut enim ad minim veniam</li>
                                <li class="small">Duis aute irure dolor in reprehenderit</li>
                                <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                <li class="small">Vestibulum auctor dapibus neque.</li>
                                <li class="small">Ut enim ad minim veniam</li>
                                <li class="small">Duis aute irure dolor in reprehenderit</li>
                            </ul>
                        </div>
                    </div>
                </div>



                <div class="tabs-panel is-active" id="optionalFeat">
                    <div class="row">
                        <div class="large-6 medium-6 columns">
                            <ul class="vertical menu accordian" data-accordion-menu>
                                <li>
                                    <a href="#">bow electronics</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">battery chargers</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">battery options</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">console electronics</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">covers and tops</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">electronic hardware and accessories</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">engines</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">remote anchors</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">set-back plate options</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">trailer accessories</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>


                            </ul>
                        </div>
                        <div class="large-6 medium-6 columns">
                            <ul class="vertical menu accordian" data-accordion-menu>
                                <li>
                                    <a href="#">lights</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">miscellaneous features</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">package and color</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">pump option</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">radio and compass options</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">seats, poles, and bases</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">steering trim and throttle</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">trolling motors</a>
                                    <ul class="nested">
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                        <li>Ut enim ad minim veniam</li>
                                        <li>Duis aute irure dolor in reprehenderit</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                
                                <div class="tabs-panel is-active" id="trailer">
                                    <div class="row">
                                        <div class="large-6 medium-6 columns">
                                          <h2>specifications</h2>
                                          <table cellpadding="0" cellspacing="0" class="stack">
                                              <tbody>
                                                  <tr>
                                                      <td><span>hull length</span></td>
                                                      <td><span>22'7"</span></td>
                                                  </tr>
                                                  <tr>
                                                      <td><span>beam</span></td>
                                                      <td><span>100 1/2"</span></td>
                                                  </tr>
                                                  <tr>
                                                      <td><span>overall beam w/rubtail</span></td>
                                                      <td><span>102"</span></td>
                                                  </tr>
                                                  <tr>
                                                      <td><span>max horsepower</span></td>
                                                      <td><span>300</span></td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                          
                                          <h2>accessories</h2>
                                          <ul>
                                              <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                              <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                              <li class="small">Vestibulum auctor dapibus neque.</li>
                                              <li class="small">Ut enim ad minim veniam</li>
                                              <li class="small">Duis aute irure dolor in reprehenderit</li>
                                              <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                              <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                              <li class="small">Vestibulum auctor dapibus neque.</li>
                                              <li class="small">Ut enim ad minim veniam</li>
                                              <li class="small">Duis aute irure dolor in reprehenderit</li>
                                              <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                              <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                              <li class="small">Vestibulum auctor dapibus neque.</li>
                                              <li class="small">Ut enim ad minim veniam</li>
                                              <li class="small">Duis aute irure dolor in reprehenderit</li>
                                          </ul>
                                        </div>
                                        <div class="large-6 medium-6 columns">
                                          <h2>standdard features</h2>
                                          <ul>
                                              <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                              <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                              <li class="small">Vestibulum auctor dapibus neque.</li>
                                              <li class="small">Ut enim ad minim veniam</li>
                                              <li class="small">Duis aute irure dolor in reprehenderit</li>
                                              <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                              <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                              <li class="small">Vestibulum auctor dapibus neque.</li>
                                              <li class="small">Ut enim ad minim veniam</li>
                                              <li class="small">Duis aute irure dolor in reprehenderit</li>
                                              <li class="small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                              <li class="small">Aliquam tincidunt mauris eu risus.</li>
                                              <li class="small">Vestibulum auctor dapibus neque.</li>
                                              <li class="small">Ut enim ad minim veniam</li>
                                              <li class="small">Duis aute irure dolor in reprehenderit</li>
                                          </ul>
                                        </div>
                                    </div>
                                </div>




            </div>
        </div>
    </div>
</div>