<div class="row">
  <div class="large-12 medium-12 small-12">
    <div class="floatDown">
      <!--/* this is to push the page content under the header. Fixes header position issue */-->
    </div>
  </div>
</div>
<div class="row">
    <div class="large-12 medium-12 small-12 columns">
        <div class="videoTabControls">
            <ul class="tabs" data-tabs id="video-tabs">
                <li class="tabs-title is-active"><a href="#featuresGallery" aria-selected="true">features</a></li>
                <li class="tabs-title"><a href="#lifestyleGallery">lifestyle</a></li>
                <li class="tabs-title"><a href="#videosGallery">videos</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="tabs-content" data-tabs-content="video-tabs">
    <div class="tabs-panel is-active" id="featuresGallery">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
              features
              <div class="videoContainer">
              
                
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="tabs-panel" id="lifestyleGallery">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
              life style gallery
              <div class="videoContainer">
                
              
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="tabs-panel" id="videosGallery">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
              video
              <div class="videoContainer">
              
              
              
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
                <div class="seriesVideos">
                  <div class="galleryImage">
                    
                  </div>
                
                </div>
              </div>
            </div>
        </div>
    </div>
</div>