<div class="expanded row ">
    <div class=" large-12 small-12 medium-12 columns">
        <div class="segmentHero">
            <a href="#1">
                <div class="slide bw" style="background-image: url('assets/img/Z520_SunBack_1.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;">
                </div>
            </a>

            <div class="row" style="border:1px solid blue;">
                <div class="large-12 medium-12 small-12 columns">
                    <div class="textBlock">
                        <h1>fiberglass boats</h1>
                        <h4>catchy line about stuff</h4>
                        <hr />
                        <div class="dek">
                            Cosmos corpus callosum how far away something incredible is waiting to be known, made in the interiors of collapsing stars circumnavigated birth. A still more glorious dawn awaits.
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>