<!--/*
* Owl Carousel for news articles.
 */-->
 <br>
<div class="row">
    <div class="small-10 columns">
        <h3>Lastest News & Events</h3>
        <br>
    </div>
    <div class="small-2 columns text-right">
        <a>View All</a>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <div class="owl-carousel owl-theme owl-loaded newsCarousel" id="newsCarousel">
            <div class="newsItem owl-item">

                <img src="assets/img/series-1.png" alt="" />
                <div class="textBox">
                    <h1>this is a title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua…</p>
                    <button class="readMore">read more</button>
                </div>
            </div>
            <div class="newsItem owl-item">

                <img src="assets/img/series-4.png" alt="" />
                <div class="textBox">
                    <h1>this is a title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua…</p>
                    <button class="readMore">read more</button>
                </div>
            </div>
            <div class="newsItem owl-item">

                <img src="assets/img/series-3.png" alt="" />
                <div class="textBox">
                    <h1>this is a title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua…</p>
                    <button class="readMore">read more</button>
                </div>
            </div>
            <div class="newsItem owl-item">

                <img src="assets/img/series-2.png" alt="" />
                <div class="textBox">
                    <h1>this is a title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua…</p>
                    <button class="readMore">read more</button>
                </div>
            </div>
            <div class="newsItem owl-item">

                <img src="assets/img/series-1.png" alt="" />
                <div class="textBox">
                    <h1>this is a title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua…</p>
                    <button class="readMore">read more</button>
                </div>
            </div>
            <div class="newsItem owl-item">

                <img src="assets/img/Z520_SunBack_3.png" alt="" />
                <div class="textBox">
                    <h1>this is a title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua…</p>
                    <button class="readMore">read more</button>
                </div>
            </div>
            <div class="newsItem owl-item">

                <img src="assets/img/Z520_SunBack_2.png" alt="" />
                <div class="textBox">
                    <h1>this is a title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua…</p>
                    <button class="readMore">read more</button>
                </div>
            </div>
            <div class="newsItem owl-item">

                <img src="assets/img/Z520_SunBack_1.png" alt="" />
                <div class="textBox">
                    <h1>this is a title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua…</p>
                    <button class="readMore">read more</button>
                </div>
            </div>
            <div class="newsItem owl-item">

                <img src="assets/img/series-1.png" alt="" />
                <div class="textBox">
                    <h1>this is a title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua…</p>
                    <button class="readMore">read more</button>
                </div>
            </div>
            <div class="newsItem owl-item">

                <img src="assets/img/series-2.png" alt="" />
                <div class="textBox">
                    <h1>this is a title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua…</p>
                    <button class="readMore">read more</button>
                </div>
            </div>
            <div class="newsItem owl-item">

                <img src="assets/img/series-3.png" alt="" />
                <div class="textBox">
                    <h1>this is a title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua…</p>
                    <button class="readMore">read more</button>
                </div>
            </div>
            <div class="newsItem owl-item">

                <img src="assets/img/series-4.png" alt="" />
                <div class="textBox">
                    <h1>this is a title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua…</p>
                    <button class="readMore">read more</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row small-collapse control-group">
    <div class="control">
        <div class="small-1 columns control">
          <div class="prev">
              <img src="/assets/img/sliderArrowLeft.svg">
          </div>
        </div>
        <div class="small-10 columns">
            <input class="newsSlider" id="newsSlider" type="range" name="" value="1" min="1" max="0" style="width:100%;">
        </div>
        <div class="small-1 columns">
          <div class="next">
              <img src="/assets/img/sliderArrowLeft.svg">
          </div>
        </div>
    </div>
</div>

<br/>
