<div class="row">
    <div class="large-12 medium-12 small-12 columns">
        <div class="videoTabControls">
            <ul class="tabs" data-tabs id="video-tabs">
                <li class="tabs-title is-active"><a href="#bass" aria-selected="true">BASS</a></li>
                <li class="tabs-title"><a href="#fishnplay">FISH & PLAY</a></li>
                <li class="tabs-title"><a href="#multispecies">MULTI-SPECIES</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="tabs-content" data-tabs-content="video-tabs">
    <div class="tabs-panel is-active" id="bass">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
              bass
              <div class="videoContainer">
                <h1>featured video</h1>
                <div class="featuredVideo video">
                  
                </div>
                <h1>series videos</h1>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="tabs-panel" id="fishnplay">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
              fish and play
              <div class="videoContainer">
                <h1>featured video</h1>
                <div class="featuredVideo video">
                  
                </div>
                <h1>series videos</h1>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="tabs-panel" id="multispecies">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
              multi
              <div class="videoContainer">
                <h1>featured video</h1>
                <div class="featuredVideo video">
                  
                </div>
                <h1>series videos</h1>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
                <div class="seriesVideos">
                  <div class="video">
                    
                  </div>
                  <h4>This is the Video Title</h4>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>