<div class="row">
    <div class="relative" style="position:relative;">


        <div class="large-4 medium-4 columns" data-sticky-container>
            <div id="stickyMenu" class="stickyMenu sticky" data-sticky data-anchor="boatModels" style="width:100%; ">
                <ul class="menu vertical " data-magellan>
                    <li><a href="#bassItem" class="fakeActive">bass</a></li>
                    <li><a href="#fishNplay">fish & play</a></li>
                    <li><a href="#multi">multi-species</a></li>
                </ul>
            </div>
        </div>


        <div class="large-8 medium-8 columns" id="boatModels">
            <div class="boatModel" id="bassItem" data-magellan-target="bassItem" >
                <div class="row">
                    <div class="large-12 medium-12 columns">
                        <h1>bass</h1>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>










            <div class="boatModel" id="fishNplay" data-magellan-target="fishNplay" >
                <div class="row">
                    <div class="large-12 medium-12 columns">
                        <h1>fish & play</h1>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>









            <div class="boatModel" id="multi" data-magellan-target="multi" >
                <div class="row">
                    <div class="large-12 medium-12 columns">
                        <h1>multi</h1>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row border">
                    <div class="large-6 medium-6 columns">
                        <img src="assets/img/overBoat.png" alt="">
                    </div>
                    <div class="large-6 medium-6 columns">
                        <h1>z522d comanche</h1>
                        <h4>w/ mercury 20 ELPT Four stroke and trailer for 68,990</h4>
                        <div class="modelLinkContainer">
                            <div class="byoLink">
                                build your own
                            </div>
                            <div class="vtmLink">
                                view this model
                            </div>
                        </div>
                        <table class=stack>
                            <tbody>
                                <tr>
                                    <td>hull length</td>
                                    <td>22'7"</td>
                                </tr>
                                <tr>
                                    <td>beam</td>
                                    <td>100 1/2"</td>
                                </tr>
                                <tr>
                                    <td>overall beam w/rubtail</td>
                                    <td>102"</td>
                                </tr>
                                <tr>
                                    <td>max horsepower</td>
                                    <td>300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <script type="text/javascript">
    
    </script>