<!--/* Slant Blocks right left authorable and angle selectable */-->
 <svg style="width:0px; height:0px;" width="0">
   <defs>
<clipPath id="rightClip" clipPathUnits="objectBoundingBox">
  <!--/* <path  d="M 200,0 L 700,0 700,518 0,518 Z"/> */-->
  <polygon points=".284 0, 1.00 0, 1.00 1.00, 0 1.00" />
</clipPath>
<clipPath id="leftClip" clipPathUnits="objectBoundingBox">
  <!--/* <path  d="M 0,0 L 500,0 700,518 0,518 Z"/> */-->
  <polygon points="0 0, .715 0, 1.00 1.00, 0 1.00" />
</clipPath>
</defs>
</svg>
<div class="row expanded small-collapse">
    <div class="swoop">
        <div class="right">
            <div class="small-12 medium-5 columns left-content">
                <h1>left Side </h1>
                <hr>
                <br/>
                <br>
                <p>Scelerisque et parturient dis a erat cubilia congue sociosqu vel porta sem posuere a malesuada suspendisse id commodo. Dui consequat consectetur luctus odio nibh a vel sapien hendrerit ad a consectetur cursus a nisl posuere. A cubilia varius dapibus non</p>
                <br>
                <div class="" style="width:100%;  text-align:left">
                    <button class="button ctaButton" style="">cta</button>
                </div>
            </div>
            <div class="large-7 medium-7 columns">
                <div class="clipMe" style="background:url('/assets/img/Z520_SunBack_1.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
            </div>

        </div>
    </div>
</div>

<div class="row expanded small-collapse">
    <div class="swoop">
        <div class="left">
            <div class="large-5 large-push-7 medium-5 medium-push-7 columns right-content">
                <h1>right Side</h1>
                <hr>
                <br/>
                <br>
                <p>Scelerisque et parturient dis a erat cubilia congue sociosqu vel porta sem posuere a malesuada suspendisse id commodo. Dui consequat consectetur luctus odio nibh a vel sapien hendrerit ad a consectetur cursus a nisl posuere. A cubilia varius dapibus non</p>
                <br>
                <div class="" style="width:100%;  text-align:right">
                    <button class="button ctaButton" style="">cta</button>
                </div>
            </div>
            <div class="large-7 large-pull-5 medium-7 medium-pull-5 columns">
                <div class="clipMe" style="background:url('/assets/img/series-3.png'); background-size: cover; background-repeat: no-repeat; background-position: right center;"></div>
            </div>


        </div>
    </div>
</div>
