<!--/* 
* This is an example of how the segment selector can look with only 3 items instead of 4
*/-->

<div class="row segmentSelector " id="noFloat">
  
  <!--/* 
    These should be dynamically created. Number of images added /12 becomes the grid class
    
    NoI/12=x (large-x, medium-x) added to each column class. 
   */-->

    <div class="large-4 medium-4 columns">
      <a href="fiberGlass.html">  <div class="main" style="background:url('/assets/img/series-3.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            <div class="darken">

            </div>
        </div>
        <div class="textLayer">
            <h3>bass</h3>
            <div class="arrow" style>
                <img src="{{root}}assets/img/arrow.svg" />
            </div>
            <h6>Z Commanche, Z500/Z100, interciastal</h6>
        </div></a>
    </div>
    
    <div class="large-4 medium-4 columns">
        <div class="main" style="background:url('/assets/img/series-4.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            <div class="darken">

            </div>
        </div>
        <div class="textLayer">
            <h3>fish & play</h3>
            <div class="arrow" style>
                <img src="{{root}}assets/img/arrow.svg" />
            </div>
            <h6>reata</h6>
        </div>
    </div>
    
    <div class="large-4 medium-4 columns">
        <div class="main" style="background:url('/assets/img/series-2.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            <div class="darken">

            </div>
        </div>
        <div class="textLayer">
            <h3>multi-species</h3>
            <div class="arrow" style>
                <img src="{{root}}assets/img/arrow.svg" />
            </div>
            <h6>fisherman, angler</h6>
        </div>
    </div>
    
    
</div>