<div class="row segmentSelector small-collapse">

  <!--/*
    These should be dynamically created. Number of images added /12 becomes the grid class

    NoI/12=x (large-x, medium-x) added to each column class.
   */-->

    <div class="small-12 medium-6 large-3 columns">
      <a href="fiberGlass.html">  <div class="main " style="background:url('/assets/img/series-3.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            <div class="darken">

            </div>
        </div>
        <div class="textLayer">
            <h3>FIBErglass</h3>
            <div class="arrow" style>
                <img src="assets/img/arrow.svg" />
            </div>
            <h6>bass, fish & play, multi species</h6>
        </div></a>
    </div>

    <div class="small-12 medium-6 large-3 columns">
        <div class="main" style="background:url('/assets/img/series-4.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            <div class="darken">

            </div>
        </div>
        <div class="textLayer">
            <h3>aluminum</h3>
            <div class="arrow" style>
                <img src="/assets/img/arrow.svg" />
            </div>
            <h6>bass, fish & play, multi species</h6>
        </div>
    </div>

    <div class="small-12 medium-6 large-3 columns">
        <div class="main" style="background:url('/assets/img/series-2.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            <div class="darken">

            </div>
        </div>
        <div class="textLayer">
            <h3>saltwater</h3>
            <div class="arrow" style>
                <img src="/assets/img/arrow.svg" />
            </div>
            <h6>bay, skiff, intercoastal</h6>
        </div>
    </div>

    <div class="small-12 medium-6 large-3 columns">
        <div class="main" style="background:url('/assets/img/series-1.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            <div class="darken">

            </div>
        </div>
        <div class="textLayer">
            <h3>pontoon</h3>
            <div class="arrow" style>
                <img src="/assets/img/arrow.svg" />
            </div>
            <h6>luxury, cruse, fish</h6>
        </div>
    </div>
</div>
