<!--/* 
* This is an example of how the segment selector can look with only 3 items instead of 4
*/-->

<div class="row segmentSelector " id="noFloat">
  
  <!--/* 
    These should be dynamically created. Number of images added /12 becomes the grid class
    
    NoI/12=x (large-x, medium-x) added to each column class. 
   */-->

    <div class="large-4 columns">
      <a href="fiberGlass.html">  <div class="main" style="background:url('/assets/img/series-3.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            <div class="darken">

            </div>
        </div>
        <div class="textLayer">
            <h1>bass</h1>
            <div class="arrow" style>
                <img src="/assets/img/arrow.svg" />
            </div>
            <h4>Z Commanche, Z500/Z100, interciastal</h4>
        </div></a>
    </div>
    
    <div class="large-4 columns">
        <div class="main" style="background:url('/assets/img/series-4.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            <div class="darken">

            </div>
        </div>
        <div class="textLayer">
            <h1>fish & play</h1>
            <div class="arrow" style>
                <img src="/assets/img/arrow.svg" />
            </div>
            <h4>reata</h4>
        </div>
    </div>
    
    <div class="large-4 columns">
        <div class="main" style="background:url('/assets/img/series-2.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            <div class="darken">

            </div>
        </div>
        <div class="textLayer">
            <h1>multi-speciesr</h1>
            <div class="arrow" style>
                <img src="/assets/img/arrow.svg" />
            </div>
            <h4>fisherman, angler</h4>
        </div>
    </div>
    
    
</div>