<div class="row segments" style="position:relative">
    <div class="large-12 medium-12 small-12 columns noPad">
        <div class="glass">
            <div class="breadCrumb">
                <h4>home ></h4>
                <div class="currentLocation">
                  <div class="glassTitle">Ranger fiberglass</div>
                    <div class="navDownArrow"></div>
                </div>
            </div>
            <div class="tabsController">
                <ul class="pages" id="segment-tabs">
                    <li class="pageTitle is-active"><a href="/segment/overview.html" aria-selected="true">Overview</a></li>
                    <li class="pageTitle"><a href="#panel2">construction</a></li>
                    <li class="pageTitle"><a href="/segment/videoGallery.html">video gallery</a></li>
                    <li class="pageTitle"><a href="/segment/allModels.html" class="allModels">all models</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>